/* COLLAPSIBLES */

.collapsible {
  position: fixed;
  padding-top: 10px;
  z-index: 1;
  width: 100%;
}


.list__items {
  transition: transform .10s;
  font-size: 1.2rem;
}

.list__items:hover {
  transform: scale(1.05);
}