*, *::after, *::before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 63.5%;
}

.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse 30% 20% at 48% 32%, rgba(83, 88, 166, 0.3), rgba(255, 255, 255, 0));
}

p {
  font-size: 1rem;
}

li {
  font-size: 1rem;
}

@media screen and (min-width: 735px) {
  p {
    font-size: 1.1rem;
  }

  li {
    font-size: 1.1rem;
  }
}





