*, *::after, *::before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 63.5%;
}

p {
  font-size: 1.2rem;
}

li {
  font-size: 1.2rem;
}

@media screen and (min-width: 735px) {
  p {
    font-size: 1.25rem;
  }

  li {
    font-size: 1.25rem;
  }
}





